#athlete-details__name {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
}

#athlete-details__bio{
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
}

#athlete-details__image {
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}