.main-section {
	background-color: #ffffff;
	/* background-image: url('/_app/assets/images/texture.jpg'); */

 }
 
.slideshow-container {
	display: flex;
	flex-wrap: wrap; /* This will make the slideshows wrap onto the next line when there's not enough space */
	justify-content:space-evenly; /* This will add some space between the slideshows */
	margin-top: 40px;
}

.latest-transformations__slideshow {
	position: relative;
	overflow: hidden;
	width: 100%;
	flex: 1 0 300px; /* This will make the slideshows take up equal space, but not shrink below 320px */
	margin: 20px; /* Add some space around each slideshow */
}

.blinking-light {
	position: absolute;
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: green;
	left: -20px; /* Adjust the position as needed */
	top: 50%; /* Adjust the position as needed */
	transform: translateY(-50%);
	animation: blink 1s infinite;
 }

 @keyframes blink {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
 }

 .latest-transformations__title {
	position: relative;
	margin-top: 60px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	color: var(--color-highlight);
	margin-left: 120px;
 }

.slideshow-caption {
	margin-top: 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

.latest-transformations__slideshow__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.5);
	border: none;
	padding: 2vw;
	font-size: 2vw;
	color: #FFF;
	cursor: pointer;
}

.latest-transformations__slideshow__button {
	font-size: 14px;
	padding: 6px 12px;
	background: var(--color-foreground);
 }

.latest-transformations__slideshow__button--left {
	left: 2vw;
	z-index: 9;
}

.latest-transformations__slideshow__button--right {
	right: 2vw;
}

.latest-transformations__slideshow__track {
	display: flex;
	width: 400%;
	transition: transform 0.8s ease-in-out;
}

.latest-transformations__slide {
	width: 25%;
	transition: transform 0.8s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
}

.latest-transformations__slide.selected {
	opacity: 1;
	transform: scale(1);
}

.latest-transformations__image {
	width: 100%;
	object-fit: contain;
	
}

@media (min-width: 768px) {
	.latest-transformations__slideshow {
		max-width: 700px; /* This will set the maximum width at larger screens */
	}

	.latest-transformations__title {
		margin-left: 30px; /* Center the title horizontally */
	}
	
	.slideshow-caption {
		font-size: 14px;
	}
	
	.latest-transformations__image {
		width: 100%; /* This will make the image take up 100% of the slideshow's width */
		max-width: 100%; /* This will ensure the image never goes beyond the boundaries of its container */
	}
}

@media (max-width: 767px) {
	.latest-transformations__slideshow:nth-child(2) {

	}
	.latest-transformations__title {
		margin-left: 20px;
	} 
}

@media (min-width: 1400px) {
	.latest-transformations__title {
		margin-left: 40px; /* Center the title horizontally */
	}
}

