.slideshow-container {
	display: flex;
	flex-wrap: wrap; /* This will make the slideshows wrap onto the next line when there's not enough space */
	justify-content: space-between; /* This will add some space between the slideshows */
	 /* add left and right padding */
	margin-top: 30px;
}

.latest-transformation__slideshow {
	position: relative;
	overflow: hidden;
	width: 100%;
	flex: 1 0 300px; /* This will make the slideshows take up equal space, but not shrink below 320px */
	margin: 10px; /* Add some space around each slideshow */
}

.blinking-light {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: green;
	margin-left: 10px;
	animation: blink 1s infinite;
 }

 @keyframes blink {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
 }

.latest-transformation__title {
	margin-top: 60px;
	margin-left: 40px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.slideshow-caption {
	margin-top: 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

.latest-transformation__slideshow__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.5);
	border: none;
	padding: 2vw;
	font-size: 2vw;
	color: #FFF;
	cursor: pointer;
}

.latest-transformation__slideshow__button--left {
	left: 2vw;
	z-index: 9;
}

.latest-transformation__slideshow__button--right {
	right: 2vw;
}

.latest-transformation__slideshow__track {
	display: flex;
	width: 400%;
	transition: transform 0.8s ease-in-out;
}

.latest-transformation__slide {
	width: 25%;
	transition: transform 0.8s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
}

.latest-transformation__slide.selected {
	opacity: 1;
	transform: scale(1);
}

.latest-transformation__image {
	width: 100%;
	object-fit: contain;
}

@media (min-width: 768px) {
	.latest-transformation__slideshow {
		max-width: 800px; /* This will set the maximum width at larger screens */
	}

	.slideshow-caption {
		font-size: 14px;
	}
	
	.latest-transformation__image {
		width: 100%; /* This will make the image take up 100% of the slideshow's width */
		max-width: 100%; /* This will ensure the image never goes beyond the boundaries of its container */
	}
}

@media (max-width: 767px) {
	.latest-transformation__slideshow:nth-child(2) {
		display: none;
	}
}
